body {
	position: relative;
}
.arrow {
	background-color: green;
	color: white;
	padding: 10px;
	border-radius: 20px;
	position: sticky;
  	position: -moz-sticky;
  	top: 2px;
}

.social {
	padding: 5px;
	background-color: blue;
	color: white;
	position: sticky;
	position: -moz-sticky;
	top: 55px;
	left: 30px;
}
